! ------------------------------------------------
! =  O.S.      : Gnu Linux                       =
! =  Author    : Cristian Pozzessere   = ilnanny =
! =  D.A.Page  : http://ilnanny.deviantart.com   =
! =  Github    : https://github.com/ilnanny      =
! ------------------------------------------------
!   Colorscheme : Noktomix
! ------------------------------------------------
! Setup
*.foreground: #BCC7CC
*.background: #263238
*.cursorColor: #BBBBBB
!
! Black
*.color0:      #073642
*.color8:      #002B36
!
! Red
*.color1:      #D1615F
*.color9:      #CB4B16
!
! Green
*.color2:      #859900
*.color10:     #75A297
!
! Yellow
*.color3:      #B58900
*.color11:     #D7D48E
!
! Blue
*.color4:      #7EB1D5
*.color12:     #96B7C8
!
! Magenta
*.color5:      #D33682
*.color13:     #C46CA1
!
! Cyan
*.color6:      #7ECDCD
*.color14:     #A5D5D5
!
! White
*.color7:      #E1E9ED
*.color15:     #E4E9EB
!
! Bold, Italic, Underline
*.colorBD:     #DF5C6B
!*.colorIT:
!*.colorUL:
!
!  Type in Terminal emulator :
!  xrdb $HOME/.Xresources

! --------------------------------------
!   XTerm Geometry & Font
! --------------------------------------
XTerm*termName: xterm-256color
XTerm*cursorColor: white
XTerm*VT100.geometry: 80x24
!
!  Search font mono Type:
!  fc-match mono
!  Default size font 6x13 points
!
XTerm.vt100.faceName: "Liberation Mono" "Regular":size=10:antialias=true
!
!  Medium size set default ;xterm,aterm,uxterm.
!
xterm*font: -*-fixed-medium-r-*-*-18-*-*-*-*-*-iso8859-*
XTerm*dynamicColors: true
XTerm*utf8: 2
XTerm*eightBitInput: true
XTerm*saveLines: 10000
XTerm*scrollKey: true
XTerm*scrollTtyOutput: false
XTerm*scrollBar: false
XTerm*rightScrollBar: false
XTerm*jumpScroll: true
XTerm*multiScroll: true
XTerm*toolBar: false
!
!  Update configuration :
!  xrdb $HOME/.Xresources
!
! -------------------------------------------------------------
!   Rofi Setup
! -------------------------------------------------------------
rofi.font: Liberation Mono 11
rofi.color-enabled: true
rofi.color-window: #263238, #263238, #263238
rofi.color-normal: #263238, #C5CAD6, #263238, #88ADC2, #263238
rofi.separator-style: solid
!
!
! -------------------------------------------------------------
!  Cursor Theme
! -------------------------------------------------------------
Xcursor.theme: Lila_HD-cursor

! -------------------------------------------------------------
!  URxvt Setup
! -------------------------------------------------------------
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [90]#263238
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt.font: xft:Liberation Mono:size=11
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste
! SEt xdg-open or exo-open
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 80x24
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false
! ------------------------------------------------------------------
!  End File ~/Xresources
! ------------------------------------------------------------------
